* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  background: #ffffff;
  color: #222;
  line-height: 1.5;
}

/* ===== HEADER ===== */
header {
  position: relative;
  width: 100%;
  height: 210px;
  overflow: hidden;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* ===== MAIN CONTENT ===== */
main {
  padding: 40px 10%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

.story-text {
  font-size: 1.3rem;
  text-align: justify;
  margin: 10 auto;
  max-width: 950px;
  line-height: 1.6;
  color: #333;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  border-left: 5px solid #003a79;
  padding-left: 15px;
  color: #222;
  margin: 10px auto 15px;
  text-align: center;
  width: fit-content;
}

.chart-text {
  font-size: 1rem;
  text-align: center;
  color: #444;
  max-width: 900px;
  margin: 10px auto 20px;
}

/* ==== Chart Containers Centered ==== */
.chart-placeholder,
.worldmap,
.choroplethmap,
.bump {
  width: 100%;
  max-width: 1100px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* For two-column section */
.charts-row {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
}

.chart-column {
  text-align: center;
}

/* specifically target the left and right columns */
.chart-column:first-child {
  flex: 0 0 60%;
  max-width: 700px;
}

.chart-column:last-child {
  flex: 0 0 35%;
  max-width: 500px;
}

.chart-column h2 {
  text-align: center;
  border-left: none;
  border-bottom: 3px solid #003a79;
  display: inline-block;
  padding-bottom: 5px;
}

/* ===== FOOTER ===== */
footer {
  text-align: center;
  background-color: #cdd2d6;
  padding: 18px 12px;
  font-family: 'Segoe UI', Roboto, sans-serif;
  font-size: 15px;
  color: #333;
  border-top: 2px solid #e0e0e0;
  line-height: 1.6;
}

footer p {
  margin: 6px 0;
}

footer strong {
  font-weight: 500;
}